.header {
  color: var(--primary-light);
  width: 100%;
  margin-top: 2rem;
  height: 6rem;
  background-color: var(--primary-dark);
  padding: 0 5%;
}

.header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 1.25rem;
  font-weight: var(--font-regular);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--primary-hover);
}

.header button {
  background: none;
  border: none;
  padding: 5px;
  outline: none;
  color: var(--primary-light);
  font-weight: var(--font-light);
  cursor: pointer;
}

.header button:hover {
  color: var(--primary-yellow);
  background-color: var(--secondary-dark);
  border-radius: 20px;
}

.active {
  color: var(--primary-dark);
  font-weight: var(--font-bold);
  background-color: var(--primary-yellow);
  padding: 1px 1rem;
  border-radius: 10px;
}

/* Media query for mobile screen resolution */

@media (max-width: 600px) {
  .header nav {
    position: absolute;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  .header ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 3rem auto;
  }

  .header li {
    margin: 1rem 0;
  }

  .header button {
    margin: 3em 0;
  }
}
