.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li,
.accountBtn,
.liLogin {
  margin: 0 1.25rem 1rem 1.25rem;
  font-weight: var(--font-regular);
}

.liLogin:hover {
  opacity: 0.7;
  color: var(--primary-yellow);
}

.accountBtn {
  background: none;
  border: none;
  padding: 5px;
  outline: none;
  color: var(--primary-light);
  font-weight: var(--font-light);
  cursor: pointer;
}

.accountBtn:hover {
  color: var(--primary-yellow);
  background-color: var(--secondary-dark);
  border-radius: 20px;
}

.active {
  color: var(--primary-dark);
  font-weight: var(--font-bold);
  background-color: var(--primary-yellow);
  padding: 1px 1rem;
  border-radius: 10px;
}
